*{
	line-height: 1.5;
}
body{
	margin: 0px;
	padding: 0px;
}
nav.navbar{
	background-image: url('../img/bg-nav.png');
}
#myNavbar ul li a{
	color: #fff;
}
div#banner{
	padding: 0px;
	margin-top: 33px;
}
div#banner-content{
	height: 700px;
	background-image: url(../img/banner.jpg);
	background-attachment: fixed;
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: -80px 0 0 0;
}


div.titlebox{
    color: #333;
    padding: 20% 0 0 0;
    max-width: 60%;
}
div.titlebox h1{
	display: block;
	text-align: center;
	line-height: 80px;
}
@media screen and (min-width: 1024px){
	div.titlebox h1{
		padding-left: 20px;
		padding-top: 130px;
		font-size: 55px;
		line-height: 60px;
	}
	div.titlebox h1 span{
		font-size: 75px;
	}
	#banner-content{
		max-height: 700px;
	}
	div#content-main h3{
		font-size: 45px;
	}
}
/* @media screen and (max-width: 1024px) {
	div.titlebox h1{
		font-size: 45px;
	}
	div.titlebox h1 span{
		font-size: 60px;
	}
	#banner-content{
		max-height: 620px;
	}

} */
@media screen and (max-width: 768px) {
	div.titlebox h1{
		padding-top: 85px;
		font-size: 35px;
		line-height: 40px;
	}
	div.titlebox h1 span{
		font-size: 50px
	}
	div#banner-content{
		max-height: 400px;
	}
	div#content-main h3{
		font-size: 35px;
	}

}
@media screen and (max-width: 690px) {
	.titlebox h1{
		padding-top: 70px;
		font-size: 25px !important;
	}
	.titlebox h1 span{
		font-size: 30px !important;
	}
	#banner-content{
		max-height: 590px;
	}
	div#content-main h3{
		font-size: 30px;
	}
	div#content-main .container{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media screen and (max-width: 420px){
	.titlebox h1{
		font-size: 20px;
		padding: 180px 0 0 0 !important;
	}
	.titlebox h1 br{
		display: none;
	}
	div.titlebox h1 span{
		padding-right: 20px;
		font-size: 30px;
	}
	div.titlebox{
		max-width: 100%;
	}
	#banner-content{
		max-height: 370px !important;
	}
	div#content-main h3{
		font-size: 22px;
	}
}
div.titlebox h1 span{
	color: #aaa;
	line-height: 30px;
}
div#content-main{
	background-color: #f8f8f8;
	padding-top: 10px;
	padding-bottom: 30px;
}
div#content-main h3{
	color: #fff;
	background-color: #bbb;
	margin: 0px;
	padding: 15px 0px;
}
hr#first{
	margin-top: 0px;
}
div#content-main hr{
	height: 4px;
	background-image: url('../img/bg-main.jpg');
}
div#footer{
	background-image: url('../img/bg-footer.png');
	padding: 10px 20px;
}

#footer *{
	color: #fff;

}
#footer h4{
	font-size: 28px;
	margin-bottom: 10px;
}
#footer ul#contact{
	padding-left: 0px;
}
#footer ul#contact li{
	margin-top: 5px;
	list-style-type: none;

}

@media screen and (max-width: 767px){
	#footer img{
		display: none;
	}
}
div#map{
	height: 280px;
	background-image: url('../img/bg-footer.png');
}
#head-section .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
#head-section .close {
    position: absolute;
    right: 15px;
    top: 0px;
    color: #f36;
    font-size: 55px;
    font-weight: bold;
}
#head-section input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#head-section .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 15px;
    width: 100%; /* Could be more or less, depending on screen size */
}
#head-section .modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#head-section .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}